* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Varela', sans-serif; */
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden; //horizontal
    overflow-y: scroll; //vertical
}

.dau-gach {
    width: 95%;
    height: 5px;
    background-color: #fcc133;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.audio-control {
    position: fixed;
    z-index: 1;
    right: 0;
    bottom: 0;
    padding: 30px;
}

.music-control-btn {
    padding: 10px;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    border: none;
    margin: 10px;
    background-color: #f3e367;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.music-control-btn i {
    color: white;
    font-size: 15px;
}

.next-page-link {
    padding: 10px;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    border: none;
    margin: 10px;
    background-color: #f3e367;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.next-page-link i {
    color: white;
    font-size: 15px;
}

.home-link {
    padding: 10px;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    border: none;
    margin: 10px;
    background-color: #f3e367;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.home-link i {
    color: white;
    font-size: 15px;
}

.nav-headding {
    color: #E12B38;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
    font-size: 50px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(to right bottom, rgba(137, 247, 254, 0.85), rgba(102, 166, 255, 0.85)), url(./img/1-boicanh/bg.jpg); */
    background-size: cover;
    background-position: top;
    position: relative;
    background-color: #fafafa;
}

h3 {
    color: #3eb650;
    font-size: 45px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.contain {
    color: #292930;
    font-size: 25px;
    padding: 0px 0px 10px 40px;
    display: flex;
    /* align-items: center; */
}

.boicanh-nav {}

.block-1-boicanh {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cautho {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
}

.block-1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hanhdongmanro-cautho {
    padding-top: 100px;
}

.hanhdongmanro-img {
    display: flex;
    margin: 0 auto;
    width: 70%;
}

.table {
    border: 1px solid black;
    border-collapse: collapse;
}

.table-title {
    font-size: 25px;
    border: 1px solid black;
    border-collapse: collapse;
}

.table-contain {
    border: 1px solid black;
    border-collapse: collapse;
}

.table-contain-p {
    /* border: 1px solid black;
    border-collapse: collapse; */
}

.block-2-img {
    width: 60%;
    display: flex;
    margin: 0 auto;
}

.block-1-img {
    display: flex;
    padding: 10px;
}

.block-1-img img {
    width: 60%;
    margin: 0 auto;
}

.bochihuy {
    display: flex;
}

.block-3 {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.ketqua h3 {
    display: flex;
    align-items: flex-start;
}

.lucluong {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
}